{% extends 'catalog/base.html' %}

{% block title %}Блог - Наши Посты{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Список постов</h1>
    <div class="text-center mb-4">
        <a href="{% url 'blog:blog_create' %}" class="btn btn-primary">Добавить пост</a>
    </div>

    {% if posts %}
        <div class="list-group">
            {% for post in posts %}
                <a href="{% url 'blog:blog_detail' slug=post.slug %}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>Опубликовано: {{ post.created_at|date:"d M Y" }}</small>
                    <p class="mb-1">{{ post.content|truncatewords:20 }}</p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Нет опубликованных постов.
        </div>
    {% endif %}
</div>
{% endblock %}
